.banner {
  background-color: var(--yellow-color);

  .showcase {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .description {
      color: var(--black-color);
      align-self: center;
      padding: 40px;

      h2 {
        font-size: 60px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    .showcase {
      flex-direction: column;
      padding: 30px 0;

      .description {
        text-align: center;
        padding: 16px;

        h2 {
          font-size: 30px;
        }
      }
    }
  }
}
