.parallax-customers {
  background: url("/assets/img/bg2.jpg") fixed;
  background-size: cover;
}

.customers {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: var(--yellow-color);
    margin-top: 2rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card {
      position: relative;
      width: 300px;
      height: 400px;
      margin: 70px 20px;
      border-radius: 15px;
      border: 2px solid var(--yellow-color);
      overflow: hidden;
      box-shadow: 0 25px 40px rgba(#000000, 0.5);
      transition: 0.5s;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba(252, 234, 60, 0.5), #000000);
        opacity: 0;
        transition: 0.5s;

      }

      &:hover {
        transform: translateY(-2rem);

        .content {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .customers {
    .container {
      .card {
        width: 250px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: 888px) {
  .customers {
    .container {
      .card {
        margin: 25px 20px;
      }
    }
  }
}
