.footer {
  min-height: 10vh;
  background: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10% 0 10%;

  h2 {
    color: #FFFFFF;
    flex-grow: 3;
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  a {
    color: #FFFFFF;
    font-size: 2rem;

    &:hover {
      color: var(--yellow-color);
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    h2, ul {
      flex-grow: 1;
    }
  }
}
