@mixin abs-mixin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery {
  padding: 5rem;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      position: relative;
      width: 260px;
      height: 260px;
      margin: 4px;
      border: 4px solid var(--yellow-color);

      .img-case {
        @include abs-mixin;

        img {
          @include abs-mixin;
          object-fit: cover;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(#FCEA3C, #101820);
          z-index: 1;
          opacity: 0;
          transition: 0.5s;
        }
      }

      .content {
        @include abs-mixin;
        color: #FFFFFF;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        padding: 20px;

        h2 {
          text-transform: uppercase;
          font-size: 1.2rem;
          transform: translateY(2rem);
          transition: 0.3s;
          opacity: 0;
        }

        p {
          transform: translateY(2rem);
          transition: 0.3s;
          opacity: 0;
        }

        .more {
          align-self: center;

          h2 {
            font-size: 2.2rem;
          }
        }
      }

      &:hover {
        transform: scale(1.15);
        transition: 0.5s;
        box-shadow: 0 25px 40px rgba(#000000, 0.5);
        z-index: 1;

        .img-case {
          &::before {
            opacity: 0.6;
          }
        }

        .content {
          h2, p {
            transform: translateY(0);
            transition-delay: 0.5s;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .gallery {
    padding: 1rem;
  }
}
