.navigation {
  background-color: var(--black-color);
  position: sticky;
  top: 0;
  box-shadow: 0 5px 20px rgba(#000000, 0.5);
  z-index: 10;

  nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }

    #logo {
      flex-grow: 3;
    }
  }
}

@media screen and (max-width: 1200px) {
  nav {
    #logo {
      flex-grow: 1;
    }

    ul {
      li {
        margin-left: 2.5rem;
      }
    }
  }
}

