.staffs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-color);
  min-height: 90vh;

  .title {
    color: var(--yellow-color);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      width: 300px;
      height: 400px;
      border: 2px solid var(--yellow-color);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 15px 35px rgba(#000000, 0.2);

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.5;
        transition: 0.5s;

        .img-case {
          position: relative;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          border: 10px solid rgba(#000000, 0.2);

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .content-case {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 20px;

          h3 {
            color: var(--yellow-color);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 18px;
          }

          p {
            color: var(--yellow-color);
            letter-spacing: 2px;
            font-weight: 300;
            font-size: 12px;
          }
        }
      }

      .icon-case {
        position: absolute;
        bottom: 50px;
        display: flex;
        justify-content: center;

        .i-one, .i-two, .i-three {
          margin: 0 10px;
          transform: translateY(40px);
          transition: 0.5s;
          opacity: 0;

          a {
            font-size: 24px;
          }
        }
      }

      &:hover {
        .content {
          transform: translateY(-20px);
          opacity: 1;
        }

        .i-one, .i-two, .i-three {
          transform: translateY(0);
          opacity: 1;
        }

        .i-one {
          transition-delay: 0.1s;
        }

        .i-two {
          transition-delay: 0.2s;
        }

        .i-three {
          transition-delay: 0.3s;
        }
      }
    }
  }
}

@media screen and (max-width: 1096px) {
  .staffs {
    padding-top: 15px;

    .container {
      .card {
        width: 250px;
        height: 340px;
      }
    }
  }
}
