.parallax {
  background: url("/assets/img/bg1.jpg") fixed;
  background-size: cover;

  .upcoming {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      position: relative;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.05);
      width: 900px;
      height: 350px;
      border-radius: 15px;
      backdrop-filter: blur(10px);
      transition: 0.5s;

      &:hover {
        img {
          left: 75%;
          height: 600px;
        }

        .content {
          opacity: 1;
          left: 0;
        }
      }

      img {
        position: absolute;
        height: 500px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
      }

      .content {
        position: relative;
        width: 50%;
        padding: 2rem 2rem 2rem 4rem;
        opacity: 0;
        left: 20%;
        transition: 0.5s;

        h2 {
          color: var(--yellow-color);
          text-transform: uppercase;
          font-size: 2.2rem;
          padding-bottom: 10px;
        }

        p {
          color: var(--yellow-color);
        }

        .btn {
          display: inline-block;
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 975px) {
  .parallax {
    .upcoming {
      .container {
        max-width: 600px;
        width: auto;

        &:hover img {
          left: 80%;
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .parallax {
    .upcoming {
      .container {
        &:hover {
          height: 500px;
          margin-bottom: -15px;

          .content {
            width: 100%;
            left: 0;
            align-self: flex-start;
            padding: 40px;
          }

          img {
            left: 60%;
            bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .parallax {
    .upcoming {
      .container {

        &:hover {
          height: 300px;
        }

        img {
          height: 300px;
        }
      }
    }
  }
}
