:root {
  --black-color: #101820FF;
  --yellow-color: #FCEA3C;
  --blue-color: #0000FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--yellow-color);
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.btn {
  color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  padding: 10px 20px;
  font-weight: 700;
}
.btn:hover {
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--black-color);
  text-transform: uppercase;
}

.navigation {
  background-color: var(--black-color);
  position: sticky;
  top: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.navigation nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.navigation nav #logo {
  flex-grow: 3;
}

@media screen and (max-width: 1200px) {
  nav #logo {
    flex-grow: 1;
  }
  nav ul li {
    margin-left: 2.5rem;
  }
}
.banner {
  background-color: var(--yellow-color);
}
.banner .showcase {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.banner .showcase .description {
  color: var(--black-color);
  align-self: center;
  padding: 40px;
}
.banner .showcase .description h2 {
  font-size: 60px;
}

@media screen and (max-width: 1200px) {
  .banner .showcase {
    flex-direction: column;
    padding: 30px 0;
  }
  .banner .showcase .description {
    text-align: center;
    padding: 16px;
  }
  .banner .showcase .description h2 {
    font-size: 30px;
  }
}
.parallax {
  background: url("/assets/img/bg1.jpg") fixed;
  background-size: cover;
}
.parallax .upcoming {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallax .upcoming .container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  width: 900px;
  height: 350px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.5s;
}
.parallax .upcoming .container:hover img {
  left: 75%;
  height: 600px;
}
.parallax .upcoming .container:hover .content {
  opacity: 1;
  left: 0;
}
.parallax .upcoming .container img {
  position: absolute;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.parallax .upcoming .container .content {
  position: relative;
  width: 50%;
  padding: 2rem 2rem 2rem 4rem;
  opacity: 0;
  left: 20%;
  transition: 0.5s;
}
.parallax .upcoming .container .content h2 {
  color: var(--yellow-color);
  text-transform: uppercase;
  font-size: 2.2rem;
  padding-bottom: 10px;
}
.parallax .upcoming .container .content p {
  color: var(--yellow-color);
}
.parallax .upcoming .container .content .btn {
  display: inline-block;
  margin-top: 10px;
}

@media screen and (max-width: 975px) {
  .parallax .upcoming .container {
    max-width: 600px;
    width: auto;
  }
  .parallax .upcoming .container:hover img {
    left: 80%;
    height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .parallax .upcoming .container:hover {
    height: 500px;
    margin-bottom: -15px;
  }
  .parallax .upcoming .container:hover .content {
    width: 100%;
    left: 0;
    align-self: flex-start;
    padding: 40px;
  }
  .parallax .upcoming .container:hover img {
    left: 60%;
    bottom: 0;
  }
}
@media screen and (max-width: 530px) {
  .parallax .upcoming .container:hover {
    height: 300px;
  }
  .parallax .upcoming .container img {
    height: 300px;
  }
}
.gallery {
  padding: 5rem;
}
.gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery .container .card {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 4px;
  border: 4px solid var(--yellow-color);
}
.gallery .container .card .img-case {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gallery .container .card .img-case img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .container .card .img-case::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FCEA3C, #101820);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}
.gallery .container .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
.gallery .container .card .content h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  transform: translateY(2rem);
  transition: 0.3s;
  opacity: 0;
}
.gallery .container .card .content p {
  transform: translateY(2rem);
  transition: 0.3s;
  opacity: 0;
}
.gallery .container .card .content .more {
  align-self: center;
}
.gallery .container .card .content .more h2 {
  font-size: 2.2rem;
}
.gallery .container .card:hover {
  transform: scale(1.15);
  transition: 0.5s;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.gallery .container .card:hover .img-case::before {
  opacity: 0.6;
}
.gallery .container .card:hover .content h2, .gallery .container .card:hover .content p {
  transform: translateY(0);
  transition-delay: 0.5s;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .gallery {
    padding: 1rem;
  }
}
.staffs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-color);
  min-height: 90vh;
}
.staffs .title {
  color: var(--yellow-color);
}
.staffs .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.staffs .container .card {
  width: 300px;
  height: 400px;
  border: 2px solid var(--yellow-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.staffs .container .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}
.staffs .container .card .content .img-case {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.2);
}
.staffs .container .card .content .img-case img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.staffs .container .card .content .content-case {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.staffs .container .card .content .content-case h3 {
  color: var(--yellow-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
}
.staffs .container .card .content .content-case p {
  color: var(--yellow-color);
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 12px;
}
.staffs .container .card .icon-case {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
}
.staffs .container .card .icon-case .i-one, .staffs .container .card .icon-case .i-two, .staffs .container .card .icon-case .i-three {
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
}
.staffs .container .card .icon-case .i-one a, .staffs .container .card .icon-case .i-two a, .staffs .container .card .icon-case .i-three a {
  font-size: 24px;
}
.staffs .container .card:hover .content {
  transform: translateY(-20px);
  opacity: 1;
}
.staffs .container .card:hover .i-one, .staffs .container .card:hover .i-two, .staffs .container .card:hover .i-three {
  transform: translateY(0);
  opacity: 1;
}
.staffs .container .card:hover .i-one {
  transition-delay: 0.1s;
}
.staffs .container .card:hover .i-two {
  transition-delay: 0.2s;
}
.staffs .container .card:hover .i-three {
  transition-delay: 0.3s;
}

@media screen and (max-width: 1096px) {
  .staffs {
    padding-top: 15px;
  }
  .staffs .container .card {
    width: 250px;
    height: 340px;
  }
}
.parallax-customers {
  background: url("/assets/img/bg2.jpg") fixed;
  background-size: cover;
}

.customers {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.customers h1 {
  color: var(--yellow-color);
  margin-top: 2rem;
}
.customers .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.customers .container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 70px 20px;
  border-radius: 15px;
  border: 2px solid var(--yellow-color);
  overflow: hidden;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.customers .container .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customers .container .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  color: #FFFFFF;
  background: linear-gradient(180deg, rgba(252, 234, 60, 0.5), #000000);
  opacity: 0;
  transition: 0.5s;
}
.customers .container .card:hover {
  transform: translateY(-2rem);
}
.customers .container .card:hover .content {
  opacity: 1;
}

@media screen and (max-width: 1050px) {
  .customers .container .card {
    width: 250px;
    height: 300px;
  }
}
@media screen and (max-width: 888px) {
  .customers .container .card {
    margin: 25px 20px;
  }
}
.footer {
  min-height: 10vh;
  background: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10% 0 10%;
}
.footer h2 {
  color: #FFFFFF;
  flex-grow: 3;
  font-size: 1.5rem;
}
.footer ul {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.footer a {
  color: #FFFFFF;
  font-size: 2rem;
}
.footer a:hover {
  color: var(--yellow-color);
}

@media screen and (max-width: 400px) {
  .footer h2, .footer ul {
    flex-grow: 1;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
