:root {
  --black-color: #101820FF;
  --yellow-color: #FCEA3C;
  --blue-color: #0000FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--yellow-color);
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.btn {
  color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  padding: 10px 20px;
  font-weight: 700;

  &:hover {
    background-color: var(--yellow-color);
    color: var(--black-color);
  }
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--black-color);
  text-transform: uppercase;
}

@import "navigation";
@import "banner";
@import "upcoming";
@import "gallary";
@import "staffs";
@import "customers";
@import "footer";

@media screen and (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 80%;
  }
}
